.verifyInputContainer {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mantine-input-bg-color);
}

.verifyInputBox {
  background-color: transparent;
  border: none;
  outline: none;
}

.blinkingCaret {
  animation: blink 0.9s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
