@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

* {
  user-select: none;
  padding: 0px;
  margin: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  position: fixed;
  color: var(--mantine-color-default-color);
}

#root{
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar{
  display: none;
}

a{
  text-decoration: none;
  color: white;
}
